<!DOCTYPE html>
{% load static %}
{% load recentlytag %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/base_no_search.css' %}">
    <script src="{% static 'js/sidebar.js' %}"></script>
    <title>{% block title %}Tixx{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <div class="horizontal-space"></div> 
    <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="{% url 'home' %}"><img src="{% static 'images/tixx.png' %}"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle concerts" href="#" id="navbarDropdownConcerts" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Concerts
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownConcerts">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-4"> 
                                    <a class="dropdown-item" href="{% url 'filtered_events' eventGenre='All' %}">All Music</a>
                                    <a class="dropdown-item" href="{% url 'filtered_events' eventGenre='Hip-Hop' %}">Rap</a>
                                    <a class="dropdown-item" href="{% url 'filtered_events' eventGenre='Pop' %}">Pop</a>
                                </div>
                                <div class="col-sm-4"> 
                                    <a class="dropdown-item" href="{% url 'filtered_events' eventGenre='Country' %}">Country</a>
                                    <a class="dropdown-item" href="{% url 'filtered_events' eventGenre='Rock' %}">Rock</a>
                                    <a class="dropdown-item" href="{% url 'filtered_events' eventGenre='RB' %}">R&#x26;B</a>
                                </div>
                                <div class="col-sm-4">
                                    <a class="dropdown-item" href="{% url 'filtered_events' eventGenre='Metal' %}">Metal</a>
                                    <a class="dropdown-item" href="{% url 'filtered_events' eventGenre='Folk' %}">Folk</a>
                                    <a class="dropdown-item" href="{% url 'filtered_events' eventGenre='Alternative' %}">Alternative</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle sports" href="#" id="navbarDropdownSports" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Sports
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownSports">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-4"> 
                                    <a class="dropdown-item" href="{% url 'filtered_events' eventGenre='football' %}">Football</a>
                                    <a class="dropdown-item" href="{% url 'filtered_events' eventGenre='basketball' %}">Basketball</a>
                                    <a class="dropdown-item" href="{% url 'filtered_events' eventGenre='tennis' %}">Tennis</a>
                                </div>
                                <div class="col-sm-4"> 
                                    <a class="dropdown-item" href="{% url 'filtered_events' eventGenre='baseball' %}">Baseball</a>
                                    <a class="dropdown-item" href="{% url 'filtered_events' eventGenre='soccer' %}">Soccer</a>
                                    <a class="dropdown-item" href="{% url 'filtered_events' eventGenre='golf' %}">Golf</a>
                                </div>
                                <div class="col-sm-4">
                                    <a class="dropdown-item" href="{% url 'filtered_events' eventGenre='hockey' %}">Hockey</a>
                                    <a class="dropdown-item" href="{% url 'filtered_events' eventGenre='cricket' %}">Cricket</a>
                                    <a class="dropdown-item" href="{% url 'filtered_events' eventGenre='rugby' %}">Rugby</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link contact" href="#">Contact</a>
                </li>
            </ul>

            <ul class="navbar-nav ml-auto login-register">
                {% if request.user.is_authenticated %}
                    {% if request.user.userProfilePicture %}
                        <li class="nav-item">
                            <img src="{{ request.user.userProfilePicture.url }}" class="profile-picture">
                        </li>
                    {% endif %}
                    <li class="nav-item">
                        <a id="accountLink" class="nav-link" href="javascript:void(0)" onclick="openSidebar()">My Account</a>
                    </li>
                    {% if request.user.isOrganiser %}
                        {% if request.user.organiserProfilePicture %}
                            <li class="nav-item">
                                <img src="{{ request.user.organiserProfilePicture.url }}" class="profile-picture">
                            </li>
                        {% endif %}
                    {% endif %}
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Login/Register</a>
                    </li>
                {% endif %}
            </ul>
            

            <div class="sidebar" id="mySidebar" style="width: 0;">
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                {% if request.user.is_authenticated %}
                    <div class="user-info">
                        {% if request.user.userProfilePicture %}
                        <img src="{% static 'images/tixx.png' %}" class="tixx-logo">
                        {% else %}
                            <img src="{% static 'icons/user.png' %}" class="icon">
                        {% endif %}
                        <div class="greeting">
                            Hey there! <span class="name-greeting">{{ request.user.firstName }}</span>
                        </div>
                    </div>
                    <div class="recently-viewed">
                        <h3>
                            <img src="{% static 'icons/viewed.png' %}" alt="Viewed Icon" class="viewed-icon">
                            Recently Viewed
                        </h3>
                        <ul>
                            {% for figure_id in request.session.recently_viewed %}
                            {% with figure=figure_id|getFigure %}
                                <p>
                                    <a href="{% url 'figure' figure.figureName %}">
                                        <img src="{% static 'icons/star.png' %}" alt="Star Icon" class="star-icon">
                                        {{ figure.figureName }}
                                    </a>
                                </p>
                            {% endwith %}
                        {% endfor %}
                        </ul>
                    </div>
                    <a href="/profile/">
                        <img src="{% static 'icons/edit.png' %}" alt="Edit Icon" class="edit-icon">
                        View Profile
                    </a>
                    <a href="#">
                        <img src="{% static 'icons/gear.png' %}" alt="Settings Icon" class="settings-icon">
                        Settings
                    </a>
                    <a href="{% url 'logout' %}">
                        <img src="{% static 'icons/logout.png' %}" alt="Logout Icon" class="logout-icon">
                        Sign Out
                    </a>
                    <div class="contact-info">
                        <p>Contact <span style="color: #03256C;">tixxEVENTS@gmail.com</span> for requests!</p>
                    </div>
                    {% if request.user.isOrganiser %}
                        <a href="{% url 'create_event' %}">Create an Event</a>
                    {% endif %}
                {% else %}
                    <a href="{% url 'login' %}">Login/Register</a>
                {% endif %}
            </div>
        
    </nav>

    <!-- Extend this block so the navbar is inherited for the new pages -->
    
        {% block content %}
        
        {% endblock %}

    <script src="{% static 'js/sidebar.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
</body>
</html>
