<!DOCTYPE html>
{% load static %}
{% load recentlytag %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Tixx{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <script src="{% static 'js/sidebar.js' %}"></script>
</head>
<body>
    <div class="horizontal-space"></div> 
    <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="{% url 'home' %}"><img src="{% static 'images/tixx.png' %}"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <!-- Direct link for Events -->
                <li class="nav-item">
                    <a href="{% url 'dashboard_home' %}" <a class="nav-link contact">Dashboard</a>
                </li>
                <!-- Direct link for Events -->
                <li class="nav-item">
                    <a href="{% url 'dashboard_events' %}" <a class="nav-link contact">Events</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'dashboard_events' %}" <a class="nav-link contact">Customers</a>
                </li>
                </li>
                <li class="nav-item">
                    <a class="nav-link contact" href="#">Contact</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto login-register">
                    <div class="navbar-custom-search">
                        <input type="text" class="search-input" placeholder="  Search by Event or Customer">
                        <img src="{% static 'icons/search.png' %}" alt="Search Icon" class="search-icon">
                    </div>
                    {% if request.user.is_authenticated %}
                        {% if request.user.userProfilePicture %}
                            <li class="nav-item">
                                <img src="{{ request.user.userProfilePicture.url }}" class="profile-picture">
                            </li>
                        {% endif %}
                        <li class="nav-item">
                            <a id="accountLink" class="nav-link" href="javascript:void(0)" onclick="openSidebar()">My Account</a>
                        </li>
                        {% if request.user.isOrganiser %}
                            {% if request.user.organiserProfilePicture %}
                                <li class="nav-item">
                                    <img src="{{ request.user.organiserProfilePicture.url }}" class="profile-picture">
                                </li>
                            {% endif %}
                        {% endif %}
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'login' %}">Login/Register</a>
                        </li>
                    {% endif %}
                </ul>
                
    
                <div class="sidebar" id="mySidebar" style="width: 0;">
                    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                    {% if request.user.is_authenticated %}
                        <div class="user-info">
                            {% if request.user.userProfilePicture %}
                                <img src="{{ request.user.userProfilePicture.url }}" class="profile-picture-sidebar">
                            {% else %}
                                <img src="{% static 'icons/user.png' %}" class="profile-picture-sidebar">
                            {% endif %}
                            <div class="greeting">
                                Hey there! <span class="name-greeting">{{ request.user.firstName }}</span>
                            </div>
                        </div>
                        {% if request.user.isOrganiser %}
                            <!-- Organiser-specific links -->
                            <a href="{% url 'dashboard_home' %}" >
                                <img src="{% static 'icons/star.png' %}" alt="Dashboard Icon" class="sidebar-icon">
                                Dashboard
                            </a>
                            <a href="{% url 'dashboard_events' %}" >
                                <img src="{% static 'icons/tickets.png' %}" alt="Events Icon" class="sidebar-icon">
                                Your Events
                            </a>
                            <a href="{% url 'create_event' %}" >
                                <img src="{% static 'icons/edit.png' %}" alt="Add Icon" class="sidebar-icon">
                                Create an Event
                            </a>
                        {% endif %}
                        <a href="/profile/" >
                            <img src="{% static 'icons/userORG.png' %}" alt="Edit Icon" class="sidebar-icon">
                            View Profile
                        </a>
                        <a href="#" >
                            <img src="{% static 'icons/gear.png' %}" alt="Settings Icon" class="sidebar-icon">
                            Settings
                        </a>
                        <a href="{% url 'logout' %}" >
                            <img src="{% static 'icons/logout.png' %}" alt="Logout Icon" class="sidebar-icon">
                            Sign Out
                        </a>
                        <!-- Recently Viewed -->
                        <div class="recently-viewed">
                            <h3>
                                <img src="{% static 'icons/viewed.png' %}" alt="Viewed Icon" class="viewed-icon">
                                Recently Viewed
                            </h3>
                            <ul>
                                {% for figure_id in request.session.recently_viewed %}
                                    {% with figure=figure_id|getFigure %}
                                        <li>
                                            <a href="{% url 'figure' figure.figureName %}">
                                                {{ figure.figureName }}
                                            </a>
                                        </li>
                                    {% endwith %}
                                {% endfor %}
                            </ul>
                        </div>
                        <!-- Contact Info -->
                        <div class="contact-info">
                            <p>Contact <span style="color: #03256C;">tixxEVENTS@gmail.com</span> for requests!</p>
                        </div>
                    {% else %}
                        <a href="{% url 'login' %}" class="sidebar-link">Login/Register</a>
                    {% endif %}
                    <div class="tixx-logo-container">
                        <img src="{% static 'images/tixx.png' %}" class="tixx-logo">
                    </div>               
                </div>
                
    </nav>

    <!-- Extend this block so the navbar is inherited for the new pages -->
    
        {% block content %}
        
        {% endblock %}

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
</body>
</html>
