{% extends "base.html" %}
{% load static %}

<head>
    <title>
        {% block title%} Tixx - Booking Confirmed {% endblock %}
    </title>
    {% load crispy_forms_tags %}

</head>

{% block content %}

<link rel="stylesheet" href="{% static 'css/base.css' %}">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="{% static 'css/confirmation.css' %}">

<body>

    <div class="main">
        <h1>Thank You For Booking With Tixx!</h1>
    </div>
    <div id="receipt">


        <div class="receiptContainer">

            <h2>Booking Details</h2>
            <p><b>Name:</b> {{ payment.firstName }} {{ payment.lastName }}</p>
            <p><b>Payment Id:</b> {{ payment.paymentId }}</p>
            <p><b>Transaction Id:</b> {{ payment.transactionId }}</p>
            <p><b>Payment Date:</b> {{ payment.paymentDate }}</p>
            <p><b>Payment Amount:</b> {{ payment.paymentAmount }}</p>
            <p><b>Payment Method:</b> {{ payment.paymentMethod }}</p>
            <p><b>Seat Number(s):</b></p>
            <ul>
                {% for ticket in payment.seatNum.all %}
                    <li>{{ ticket.seatNum }}</li>
                {% empty %}
                    <li>No seats associated.</li>
                {% endfor %}
            </ul>
            <p><img src="{% static 'images/tixx.png' %}" class="receipt-image"></p>
        </div>






    </div>
</body>



{% endblock %}