{% extends "base.html" %}
{% block content %}
{% load static %} 
{% load figuretag %}
<link rel="stylesheet" href="{% static 'css/figure.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<script src="{% static 'js/figure.js' %}"></script>
<div class="container">
    <div class="info">
        <div class="pfp">
            {% if figure.figurePicture %}
                <img src="{{ figure.figurePicture.url }}" alt="{{ figure.figureName }}">
            {% else %}
                <p>No Image Available</p>
            {% endif %}
        </div>
        <h1>{{ figure.figureName }} Tickets</h1>
        <p>{{ figure.figureGenre }}</p>
        <div class="average-rating">
            <i class="fas fa-star filled"></i>
            <span>{{ averageRating|default_if_none:"N/A" }}</span>
        </div>
    </div>
    <div class="pfp-background">
        {% if figure.figurePicture %}
            <img src="{{ figure.figurePicture.url }}" alt="{{ figure.figureName }}">
        {% endif %}
    </div>
</div>
<div class="white-bar navbar navbar-expand">
    <ul class="navbar-nav">
        <li class="nav-item mr-3"> 
            <a class="nav-link events-button" href="#events-section">EVENTS</a>
        </li>
        <li class="nav-item mr-3"> 
            <a class="nav-link gallery-button" href="#">PHOTOS</a>
        </li>
        <li class="nav-item mr-3"> 
            <a class="nav-link about-button" href="#about-section">ABOUT</a>
        </li>
        <li class="nav-item"> 
            <a class="nav-link reviews-button" href="#">REVIEWS</a>
        </li>
    </ul>
</div>
<div class="events-countdown-container">
    <div id="events-section" class="events-container">
        <div id="events-title">
            <p><strong>EVENTS</strong> • {{ events|length }}</p>
        </div>
        {% for event in events %}
            <div class="event">
                <div class="event-info">
                    <img src="{% static 'icons/tickets.png' %}" class="event-icon">
                    <div class="event-date">
                        <p id="eventDate">{{ event.eventDate }}</p>
                    </div>
                    <div class="event-details">
                        <p>{{ event.eventDate|date:"D" }} • {{ event.eventTime|time:"g:i A" }}</p>
                        <p><span class="bold">{{ event.arenaId }}</span></p>
                        <p>{{ figure.figureName }}</p>
                    </div>
                    <a href="" class="btn btn-primary">Find Tickets</a>
                </div>
            </div>
        {% empty %}
            <p>No Events Available</p>
        {% endfor %}
    </div>
    <div class="countdown-container">
        <div id="countdown" class="countdown">
            <div class="countdown-item" id="days">
                <span class="countdown-label">DAYS</span><br>
                <span class="cv" id="daysValue">01</span>
            </div>
            <div class="countdown-item" id="hours">
                <span class="countdown-label">HOURS</span><br>
                <span class="cv" id="hoursValue">06</span>
            </div>
            <div class="countdown-item" id="minutes">
                <span class="countdown-label">MINUTES</span><br>
                <span class="cv" id="minutesValue">39</span>
            </div>
            <div class="countdown-item" id="seconds">
                <span class="countdown-label">SECONDS</span><br>
                <span class="cv" id="secondsValue">12</span>
            </div>
            <div class="countdown-item" id="figure">
                <span class="countdown-label">FOR:</span><br>
                <span id="figureName">{{ figure.figureName }}</span> <span class="at-label">@</span> 
                {% if events %}
                    {{ events.0.arenaId }} 
                {% else %}
                    No arena available
                {% endif %}
            </div>
        </div>
    </div>
</div>

<div id="about-section" class="about-container">
    <h2>About {{ figure.figureName }}</h2>
    <p>{{ figure.figureAbout }}</p>
</div>

<div id="review-section" class="reviews-container">
    <div id="reviews-title" class="d-flex justify-content-between align-items-center">
        <p><strong>REVIEWS</strong> • {{ reviewCount }}</p>
    </div>
    <div class="reviews">
        {% for review in allReviews|slice:":6" %}
            <div class="review {% if forloop.counter0 < 3 and review.reviewimage_set.exists %}with-image{% endif %}">
                <h3>{{ review.reviewTitle }}</h3>
                <p>{{ review.userReview|default:"Anonymous" }}</p>
                <div class="rating">
                    {% for star in review.reviewRating|starRange %}
                        {% if star == 1 %}
                            <i class="fas fa-star filled"></i>
                        {% elif star == 0.5 %}
                            <i class="fas fa-star-half-alt filled"></i>
                        {% else %}
                            <i class="fas fa-star"></i>
                        {% endif %}
                    {% endfor %}
                </div>
                <p>{{ review.reviewText }}</p>
    
                {% if forloop.counter0 < 3 and review.reviewimage_set.exists %}
                    <img src="{{ review.reviewimage_set.first.reviewImage.url }}" alt="Review Image">
                {% endif %}
            </div>
        {% endfor %}
    </div>
    <div class="write-review-button-container">
        <a href="{% url 'review' figure.figureName %}" class="btn btn-primary">Write a Review</a>
        <div class="review-gallery-container">
            <h3 id="gallery-h3">PHOTO GALLERY • {{ galleryCount }}</h3>
            <div class="photo-gallery-wrapper">
                <div id="photo-gallery" class="photo-gallery-container">
                    <div class="gallery-container">
                        <div class="gallery" id="gallery">
                            {% for review in allReviews %}
                                {% for image in review.reviewimage_set.all %}
                                    {% if forloop.counter <= 5 %}
                                        <div class="gallery-item">
                                            <img src="{{ image.reviewImage.url }}" alt="Review Image">
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <div id="image-overlay">
                <img id="expanded-image" src="" alt="Expanded Image">
            </div>
        </div>
    </div>
</div>

{% endblock %}