{% extends 'base.html' %}
{% load static %}
{% block title %}
    Tixx - Home
{% endblock %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/filtered_events.css' %}">

<div class="content-container">
    
    <div class="container mt-3">
        <div class="sf-container">
            <h2>EVENTS BY <span class="underline">GENRE</span></h2>
            <div class="figure-grid">
                {% for event in filtered_events %}
                    <div class="figure-card">
                        <a href="{% url 'ticket_selection' event.eventId %}"> 
                            <img src="{{ event.figureId.figurePicture.url }}" class="figure-image" alt="{{ event.eventName }}">
                            <div class="caption">
                                <h5 class="figure-title">{{ event.eventName }}</h5>
                                <p class="figure-genre">{{ event.eventDate }}</p>
                            </div>
                        </a>
                    </div>
                {% empty %}
                    <h4>No events found.</h4>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
