{% extends 'base_no_search.html' %}
{% load static %}
{% block title %}
    Tixx - Home
{% endblock %}

{% block content %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="{% static 'css/home.css' %}">
<div id="search-container" class="container mt-3 text-center">
    <form class="form-inline" method="GET" action="{% url 'search_results' %}">
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <img src="{% static 'icons/location.png' %}" alt="Location Icon" class="small-icon">
                    </span>
                </div>
                <input type="text" class="form-control mr-2" placeholder="Search by City..." style="width: 150px;" name="city"> 
            </div>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <img src="{% static 'icons/date.png' %}" alt="Date Icon" class="small-icon">
                    </span>
                </div>
                <input placeholder="All Dates" style="width: 150px;" class="form-control mr-2" type="text" onfocus="(this.type='date')" onblur="(this.type='text')" id="date" name="date">
            </div>
            <div class="input-group">
                <input type="text" class="form-control lg-search-input" placeholder="Search by Figure, Event, or Artist" style="width: 400px;" name="searchQuery"> 
                <div class="input-group-append">
                    <button type="submit" class="btn btn-primary">Search</button>
                </div>
            </div>
        </div>
    </form>
</div>

<!-- TEMP IMAGE CYCLER EVENTS / ADDING FUNCTIONALITY TO PULL FROM EVENTS MODEL -->

<div id="image-cycler" class="container-fluid mt-3">
    <div class="row">
        <div class="col">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    {% for figure in carouselFigures %}
                    <div class="carousel-item {% if forloop.first %}active{% endif %}">
                        <div class="carousel-image-container">
                            <img src="{{ figure.carouselImage.url }}" alt="{{ figure.figureName }}">
                        </div>
                        <div class="carousel-caption d-none d-md-block">
                            <h5>{{ figure.figureName }}</h5>
                            <a href="/figure/{{ figure.figureName }}" class="btn btn-primary">Find Tickets</a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
</div>

    <!-- Hip-Hop FIGURE Section -->
    
    <div class="container mt-3">
        <div class="rf-container">
            <h2><span class="underline">Hip-Hop</span></h2>
            <div class="figure-grid-scrollable">
                <div class="figure-grid">
                    {% for figure in hipHopFigures %}
                    <div class="figure-card">
                        <a href="{% url 'figure' figure.figureName %}"> 
                            <img src="{{ figure.figurePicture.url }}" class="figure-image" alt="{{ figure.figureName }}">
                            <div class="caption">
                                <h5 class="figure-title">{{ figure.figureName }}</h5>
                                <p class="figure-genre">{{ figure.figureGenre }}</p>
                            </div>
                        </a>
                    </div>
                    {% empty %}
                    <p>No Hip-Hop figures found.</p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <!-- Pop FIGURE Section -->

    <div class="container mt-3">
        <div class="rf-container">
            <h2><span class="underline">Pop</span></h2>
            <div class="figure-grid-scrollable">
                <div class="figure-grid">
                    {% for figure in popFigures %}
                    <div class="figure-card">
                        <a href="{% url 'figure' figure.figureName %}"> 
                            <img src="{{ figure.figurePicture.url }}" class="figure-image" alt="{{ figure.figureName }}">
                            <div class="caption">
                                <h5 class="figure-title">{{ figure.figureName }}</h5>
                                <p class="figure-genre">{{ figure.figureGenre }}</p>
                            </div>
                        </a>
                    </div>
                    {% empty %}
                    <p>No Pop figures found.</p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <!-- Sports FIGURE Section -->

    <div class="container mt-3">
        <div class="rf-container">
            <h2><span class="underline">Basketball</span></h2>
            <div class="figure-grid-scrollable">
                <div class="figure-grid">
                    {% for figure in basketballFigures %}
                    <div class="figure-card">
                        <a href="{% url 'figure' figure.figureName %}"> 
                            <img src="{{ figure.figurePicture.url }}" class="figure-image" alt="{{ figure.figureName }}">
                            <div class="caption">
                                <h5 class="figure-title">{{ figure.figureName }}</h5>
                                <p class="figure-genre">{{ figure.figureGenre }}</p>
                            </div>
                        </a>
                    </div>
                    {% empty %}
                    <p>No Basketball Teams found.</p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}