{% load static %}

<head>
	<title>
		{% block title%} Tixx - Login {% endblock %}
	</title>
{% load crispy_forms_tags %}
</head>

{% block content %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<div class="main">
    <div class="logo">
        <img src="{% static 'images/tixx.png' %}">
    </div>

    <div class="login">
            <div class="form-container">
            <form class="form" action="" method="POST">
                {% csrf_token %}
                <div class="input-field">
                    <input type="text" name="username" id="user" class="input-box-user" placeholder="Username" required/>

                </div>
                <div class="input-field">
                    <input type="password" name="password" id="pass" class="input-box-pass" placeholder="Password" required/>

                </div>
                <div class="remember-forgot">
                    <div class="remember-me">
                        <label for="remember">Remember me</label>
                        <input type="checkbox" name="remember" class="remember"/>
                    </div>
                    <div class="forgot-password">
                        <a href="#">Forgot Password?</a>
                    </div>
                </div>
                <div class="submit-box">
                    <input type="submit" value="Login"/>
                </div>
                <div class="register">
                    <span>Don't have an account? <a href="{% url 'register' %}"> Register</a></span>
                    <div class="organiser-link">
                        <p>Are you an organiser? <a href="{% url 'organiser_login' %}">Login as organiser</a></p>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
{% endblock %}