
{% load static %}
<head>
    <title>{% block title%} Tixx | Register {% endblock %}</title>
    {% load crispy_forms_tags %}
    
    {% block styles %}
        <link rel="stylesheet" href="{% static 'css/register.css' %}">
    {% endblock %}
</head>

{% block content %}
<html>
    <body>
        <div class="main">
            <div class="logo">
                <img src="{% static 'images/tixx.png' %}">
            </div>

            <div class="register">
                    <div class="reg-header">
                        Sign Up
                    </div>
                    <div class="form-container">
                    <form method="POST" class="form-group">
                        {% csrf_token %}
                        <div class="input-field">
                            {{ form.username|as_crispy_field }}
    
                        </div>
                        <div class="input-field">
                            {{ form.password1|as_crispy_field }}
    
                        </div>
                        <div class="input-field">
                            {{ form.password2|as_crispy_field }}
    
                        </div>
                        <div class="submit-box">
                            <button type="submit" class="btn btn-success">Register</button>
                        </div>
                        <div class="login">
                            <span>Already have an account? <a href="{% url 'login' %}"> Log In</a></span>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <script>
            document.getElementById("id_username").placeholder = "Username";
            document.getElementById("id_password1").placeholder = "Password";
            document.getElementById("id_password2").placeholder = "Confirm Password";
        </script>
    </body>
</html>
{% endblock %}

