{% extends "base.html" %}
{% block content %}
{% load static %} 
{% load figuretag %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link rel="stylesheet" href="{% static 'css/view_profile.css' %}">
<body>
    <div class="background-items">
        <div class="pfp" id="pfpContainer">
            {% if user.miniImage %}
                <img src="{{ user.miniImage.url }}" alt="{{ user.username }}">
            {% else %}
                <div class="mini-image-placeholder">
                    <p>No Mini Image Available</p>
                    <a href="{% url 'edit_profile' %}?section=miniImage&username={{ user.username }}">
                        <button type="button" id="addMini" class="btn btn-primary">ADD IMAGE</button>
                    </a>
                </div>
            {% endif %}
            <p id="About">ABOUT</p>
            <p id="userDesc">{{ user.userDescription }}</p>
            {% if user.favoriteFigure %}
                <p id="tixxFavorite">TIXX FAVORITE</p>
                <div id="favoriteFigure">
                    <img id="figureImage" src="{{ user.favoriteFigure.figurePicture.url }}" alt="{{ user.favoriteFigure.figureName }}">
                    <div class="figureInfo">
                        <p id="figureName">{{ user.favoriteFigure.figureName }}</p>
                        <p id="figureGenre">{{ user.favoriteFigure.figureGenre }}</p>
                    </div>
                    {% endif %}
                        {% if user.favoriteSongSpotifyId %}
                            <div id="favoriteSong">
                                <iframe src="https://open.spotify.com/embed/track/{{ user.favoriteSongSpotifyId }}" width="100%" height="100" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy" style="display: block;"></iframe>
                            </div>
                        {% else %}
                            <div class="no-favorite-song">
                                <p>No favorite song selected. <a href="{% url 'edit_profile' %}?section=favoriteSongSpotifyId&username={{ user.username }}">Add favorite song</a></p>
                            </div>
                        {% endif %}
                </div>
        </div>
        <div class="usernameStatus">
            <p id="username" style="color: {{ request.session.username_color|default:'#000' }}" onclick="toggleColorMenu()">
                {% if user.is_superuser %}
                    <img src="{% static 'icons/verified.png' %}" alt="Verified Icon" class="icon">
                {% endif %}
                {{ user.username }}
            </p>
            <button type="button" id="follow" class="btn btn-primary">UID: {{ user.userId }}</button>
        </div>
    </div>
    <div class="pfp-background">
        {% if user.backgroundImage %}
            <img src="{{ user.backgroundImage.url }}" alt="{{ user.username }}" class="background-image">
        {% else %}
            {% if user.userProfilePicture %}
                <img src="{{ user.userProfilePicture.url }}" alt="{{ user.username }}" class="background-image">
            {% else %}
                <p>No Image Available</p>
            {% endif %}
        {% endif %}
    </div>
    <div class="white-bar navbar navbar-expand">
        <ul class="navbar-nav">
            <li class="nav-item mr-3"> 
                <a class="nav-link events-button" href="#">DETAILS</a>
            </li>
            <li class="nav-item mr-3"> 
                <a class="nav-link gallery-button" href="#">MY REVIEWS</a>
            </li>
            <li class="nav-item mr-3"> 
                <a class="nav-link about-button" href="#about-section">EDIT PROFILE</a>
            </li>
        </ul>
    </div>
    <div class="details">
        <div class="detail" data-type="name">
            <img src="{% static 'icons/name.png' %}" alt="Name Icon" class="icon">
            <p><span class="title">NAME:</span> {{ user.firstName }} {{ user.lastName }}</p>
            <a href="{% url 'edit_profile' %}?section=name&username={{ user.username }}&firstName={{ user.firstName }}&lastName={{ user.lastName }}">
                <button class="edit-btn">
                    <img src="{% static 'icons/edit.png' %}" alt="Edit Icon">
                </button>
            </a>
        </div>
        <div class="detail" data-type="email">
            <img src="{% static 'icons/email.png' %}" alt="Email Icon" class="icon">
            <p><span class="title">EMAIL:</span> {{ user.email }}</p>
            <a href="{% url 'edit_profile' %}?section=email&username={{ user.username }}">
                <button class="edit-btn">
                    <img src="{% static 'icons/edit.png' %}" alt="Edit Icon">
                </button>
            </a>
        </div>
        <div class="detail" data-type="phone">
            <img src="{% static 'icons/phone.png' %}" alt="Phone Icon" class="icon">
            <p><span class="title">PHONE NUMBER:</span> {{ user.userPhoneNumber }}</p>
            <a href="{% url 'edit_profile' %}?section=address&username={{ user.username }}">
                <button class="edit-btn">
                    <img src="{% static 'icons/edit.png' %}" alt="Edit Icon">
                </button>
            </a>
        </div>
        <div class="detail" data-type="address">
            <img src="{% static 'icons/address.png' %}" alt="Address Icon" class="icon">
            <p><span class="title">ADDRESS:</span> {{ user.userAddress }}</p>
            <a href="{% url 'edit_profile' %}?section=address&username={{ user.username }}">
                <button class="edit-btn">
                    <img src="{% static 'icons/edit.png' %}" alt="Edit Icon">
                </button>
            </a>
        </div>
        <div class="detail" data-type="city">
            <img src="{% static 'icons/city.png' %}" alt="City Icon" class="icon">
            <p><span class="title">CITY:</span> {{ user.city }}</p>
            <a href="{% url 'edit_profile' %}?section=city&username={{ user.username }}">
                <button class="edit-btn">
                    <img src="{% static 'icons/edit.png' %}" alt="Edit Icon">
                </button>
            </a>
        </div>
        <div class="detail" data-type="stateProvince">
            <img src="{% static 'icons/state.png' %}" alt="State/Province Icon" class="icon">
            <p><span class="title">STATE/PROVINCE:</span> {{ user.stateProvince }}</p>
            <a href="{% url 'edit_profile' %}?section=stateProvince&username={{ user.username }}">
                <button class="edit-btn">
                    <img src="{% static 'icons/edit.png' %}" alt="Edit Icon">
                </button>
            </a>
        </div>
        <div class="detail" data-type="postalcode">
            <img src="{% static 'icons/postal.png' %}" alt="Postal Code Icon" class="icon">
            <p><span class="title">POSTAL CODE:</span> {{ user.postalcode }}</p>
            <a href="{% url 'edit_profile' %}?section=postalcode&username={{ user.username }}">
                <button class="edit-btn">
                    <img src="{% static 'icons/edit.png' %}" alt="Edit Icon">
                </button>
            </a>
        </div>
        <div id="colorMenu" class="color-menu">
            <p id="usernameColor">Username Color:</p>
            <div class="color-option" >
                <form method="post" action="{% url 'edit_profile' %}">
                    {% csrf_token %}
                    <input type="hidden" name="username_color" value="black">
                    <button type="submit" id="colorID" class="btn btn-primary">BLACK</button>
                </form>
            </div>
            <div class="color-option">
                <form method="post" action="{% url 'edit_profile' %}">
                    {% csrf_token %}
                    <input type="hidden" name="username_color" value="#03256C">
                    <button type="submit" id="colorID" class="btn btn-primary">BLUE</button>
                </form>
            </div>
            <div class="color-option">
                <form method="post" action="{% url 'edit_profile' %}">
                    {% csrf_token %}
                    <input type="hidden" name="username_color" value="#FFF">
                    <button type="submit" id="colorID" class="btn btn-primary">WHITE</button>
                </form>
            </div>
            <div class="color-option">
                <form method="post" action="{% url 'edit_profile' %}">
                    {% csrf_token %}
                    <input type="hidden" name="username_color" value="#2541B2">
                    <button type="submit" id="colorID" class="btn btn-primary">TIXX!</button>
                </form>
            </div>
        </div>

    </div>
    </div>
    <div id="reviews-title" class="d-flex justify-content-between align-items-center">
        <p><strong>MY REVIEWS</strong> • {{ reviews.count }}</p>
    </div>
    <div class="reviews">
        {% for review in reviews %}
            <div class="review {% if review.reviewimage_set.exists %}with-image{% endif %}">
                <h3>{{ review.reviewTitle }}</h3>
                <p>{{ review.userReview.username|default:"Anonymous" }}</p>
                <div class="rating">
                    {% for star in review.reviewRating|starRange %}
                        {% if star == 1 %}
                            <i class="fas fa-star filled"></i>
                        {% elif star == 0.5 %}
                            <i class="fas fa-star-half-alt filled"></i>
                        {% else %}
                            <i class="fas fa-star"></i>
                        {% endif %}
                    {% endfor %}
                </div>
                <p>{{ review.reviewText }}</p>
                {% if review.reviewimage_set.exists %}
                    <img src="{{ review.reviewimage_set.first.reviewImage.url }}" alt="Review Image">
                {% endif %}
            </div>
        {% endfor %}
    </div>

    <script>
    </script>
</body>
</html>
{% endblock %}