.small-icon {
    height: 23px; 
}

#search-container {
    padding: 5px;
    width: fit-content;
    border:2.5px solid #03256C;
    border-radius:8px;
}

.lg-search-input {
    width: 350px; 
    background-image: url('../icons/search.png'); 
    background-repeat: no-repeat;
    background-position: 10px center; 
    background-size: 20px;
    padding-left: 40px; 
}

#search-container .input-group-text {
    background-color: transparent;
    border:none;
}

.figure-grid-scrollable {
    overflow-x: scroll;
    white-space: nowrap;
  }
  
  .figure-grid {
    display: flex; 
    flex-wrap: nowrap; 
    gap: 20px; 
  }


#search-container .form-control{
    background-color: transparent;
    border:none;
}

#search-container .btn-primary{
    border-radius:8px;
    background-color: #03256C;
    border-color: #03256C;
}

.btn-primary {
  background-color: #03256C;
  border-color: #03256C;
}

.container{
    display: flex !important;
    justify-content: center !important;
    flex-wrap: wrap;
    position: relative;
    z-index: 1 !important;
}

.carousel-inner {
    width: 100%; 
}

.carousel-item {
    width: 100%; 
    position: relative; 
}

.carousel-image-container img {
    width: 100%; 
    height: 600px; 
    object-fit: cover;
    transition: transform 0.2s ease; 
    z-index: 999;
}

.carousel-image:hover {
    transform: scale(1.1); 
}

#date::-webkit-input-placeholder {
    color: black;
}


input[type="text"]::placeholder {
    color: black;
}

.lg-search-input::placeholder {
    color: black;
}

.carousel {
    z-index: 1; 
  }
  
  #carouselExampleIndicators {
    position: relative;
    z-index: 2; 
  }

  .event-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
}

#event-container {
    margin-top: 30px; 
  }
  
  .event-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
  }
  
  .card {
    flex: 0 0 calc(33.33% - 40px);
    margin: 20px; 
    box-sizing: border-box;
    overflow: hidden; 
    border: none !important; 
  }
  
  
  .card-link {
    display: block;
    text-decoration: none;
    color: inherit;
  }
  
  .card-img-top {
    width: 100%;
    height: 300px;
    object-fit: cover; 
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    transition: transform 0.3s ease;
  }
  
.date-icon {
    background-color: none;
}
.input-group-text {
    background-color: none !important;
}
  .card:hover .card-img-top {
    transform: scale(1.1);
    color:#2541B2 !important;
  } 
  
  .caption {
    padding: 15px;
  }
  
  .card-text {
    font-size: 14px;
  }
  
  .card-title {
    font-size: 18px;
    margin-top: 5px;
    margin-bottom: 0;
    font-weight: bold;
  }

  .figure-grid-scrollable {
    width: 100%;
    white-space: nowrap;
    position: relative; 
}

.rf-container h2 {
    font-size: 20px;
    margin-bottom: 20px;
    
}

.rf-container h2 .underline {
    border-bottom: 2px solid #000;
    padding-bottom: 5px;
}

.sf-container h2 {
    font-size: 20px;
    margin-bottom: 20px;
}

.sf-container h2 .underline {
    border-bottom: 2px solid #000;
    padding-bottom: 5px;
}

.figure-card:hover .figure-image {
    transform: scale(0.95); 
}

.figure-image {
    width: 300px;
    height: 200px; 
    object-fit: cover; 
    border-radius: 5px;
    transition: transform 0.3s ease-in-out; 
    overflow: hidden;
}

.figure-card a {
    text-decoration: none;
    color: #03256C;
}

.figure-card {
    display: inline-block;
    margin-right: 20px;
    width: 300px;
    height: auto;
    border-radius: 5px;
    position: relative;
    overflow: visible; 
}

.caption {
    margin-top: 10px;
}

.figure-title {
    font-size: 16px;
    font-weight: bold;
}

.figure-genre {
    font-size: 14px;
    color: #666;
}

.sf-container,
.rf-container {
    background-color: #ffffff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 120%;
    margin-bottom: 20px;
    border-radius: 8px;
    z-index: 1;
}

::-webkit-scrollbar {
    width: 7px; 
    height: 10px;
}

::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 5px; 
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 5px; 
}

::-webkit-scrollbar-track:hover {
    background: #ddd; 
}


  