:root { 
    --darkest: #03256C;
    --dark: #2541B2;
    --reg: #1768AC;
    --light: #06BEE1;
}

html {
    height: 100%;
    width: 100%;
  }

.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('../images/loginBackground.png');
    background-repeat: no-repeat;
    width: 100%;
    background-color: var(--reg);
    height: 100vh;
    margin: 0px;
}


.login {
    background: white;
    height: 480px;
    width: 420px;
    border-radius: 10%;
    box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.05), 
    5px 5px 15px rgba(0, 0, 0, 0.5), inset 2px 2px 5px rgba(32, 32, 32, 0.5), 
    inset -2px -2px 5px rgba(95, 95, 95, 0.1);
    border: 15px solid var(--reg);
    padding-left: 1em;
    padding-right: 1em;
}

.input-box-user {
    background: transparent;
    padding: 10px 0px 10px 15px;
    font-size: larger;
    border-radius: 15px;
    width: 100%;
    height: 2.5em;
    border: 5px solid var(--reg);
    box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.5), 
    inset -2px -2px 5px rgba(255, 255, 255, 0.1);
    color: white;
}

.input-box-pass {
    background: transparent;
    padding: 10px 0px 10px 15px;
    font-size: larger;
    border-radius: 15px;
    width: 100%;
    height: 2.5em;
    border: 5px solid var(--reg);
    box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.5), 
    inset -2px -2px 5px rgba(255, 255, 255, 0.1);
    color: white;
    margin-top: 1em;
}

.input-field {
    color: white;
    font-size: 1em;
}

.login-header {
    color: white;
    background-color: #1768AC;
    margin-bottom: 1em;
    text-align: center;
    font-size: 2em;
    font-weight: 700;
    margin-left: 33%;
    width: 30%;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    padding-bottom: 10px;
}

.form {
    width: 100%;
    height: 100%;
    padding-bottom: 2em;
}

body {
    font: 'arial';
}

::placeholder {
    color: rgb(167, 167, 167);
    font-weight: 500;
}

.login-header h1 {
    font-weight: 600;
}

.remember-forgot {
    margin-top: 1em;
    display: flex;
    justify-content: space-between;
    font-weight: 500;
}

.remember-me {
    color: #1768AC;
    font-weight: 500;
}



.register {
    text-align: center;
    color: #2541B2;
    margin-bottom: 10px;
    font-weight: 500;
}

.submit-box input{
    margin-top: 2.5em;
    margin-bottom: 2.5em;
    font-size: 1em;
    font-weight: bold;
    background: var(--reg);
    color: white;
    border: 3px solid var(--reg);
    border-radius: 20px;
    padding: 10px;
    position: center;
    width: 100%;
    transition: all .15s ease-out;
}

.submit-box input:hover{
    color: white;
    background: var(--reg);
    box-shadow: inset 3px 3px 5px rgba(0, 0, 0, 0.5), 
    inset -3px -3px 5px rgba(255, 255, 255, 0.1);
    border: 3px solid var(--reg);
}

.input-box-user:focus, .input-box-user:valid {
    background: #1768AC;
}

.input-box-pass:focus, .input-box-pass:valid {
    background: #1768AC;
}

.logo {
    margin-bottom: 1em;
}