
.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f8f9fa;
}

.background-image {
    background-image: url('../images/loginBackground.png');
    background-size: cover;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; 
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.logo {
    text-align: center;
    margin-bottom: 20px;
}
.logo img {
    width: 60%;
}

.login {
    width:40%;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.form-container {
    margin-top: 20px;
}

.input-field {
    margin-bottom: 10px;
}

.error {
    color: #03256C;
    font-weight: 400; 
    margin-top: 7px; 
}

.input-box-user,
.input-box-pass,
.input-box-phone,
.input-box-address,
.input-box-email {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.remember-forgot {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.remember-me {
    display: flex;
    align-items: center;
}

.remember-me input[type="checkbox"] {
    margin-left: 5px;
    margin-bottom: 5px;
}

.forgot-password a {
    color: #03256C;
    text-decoration: none;
}

.submit-box {
    text-align: center;
    margin-top: 20px;
}

.submit-box input[type="submit"] {
    margin-bottom: 20px;
    padding: 10px 20px;
    background-color: #03256C;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.register {
    margin-top: 20px;
    text-align: center;
}

.register span {
    font-size: 14px;
}

.register a {
    color: #03256C;
    text-decoration: none;
}

.organiser-link {
    margin-top: 10px;
}

.organiser-link a {
    color: #03256C;
    text-decoration: none;
}
