:root { 
    --darkest: #03256C;
    --dark: #2541B2;
    --reg: #1768AC;
    --light: #06BEE1;
}

*{
    font-family: "Segoe UI", "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html {
    overflow: hidden;
    height: 100%;
    width: 100%;
  }

.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('../images/loginBackground.png');
    background-repeat: no-repeat;
    width: 100%;
    background-color: var(--reg);
    height: 100vh;
    margin: 0px;
}


.register {
    width: 420px;
    background: white;
    border-radius: 10%;
    box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.05), 
    5px 5px 15px rgba(0, 0, 0, 0.5), inset 2px 2px 5px rgba(32, 32, 32, 0.5), 
    inset -2px -2px 5px rgba(95, 95, 95, 0.1);
    border: 15px solid var(--reg);
    padding-left: 1em;
    padding-right: 1em;
}

.input_box_email {
    background: transparent;
    padding: 10px 0px 10px 15px;
    font-size: larger;
    border-radius: 15px;
    width: 100%;
    height: 2.5em;
    border: 5px solid var(--reg);
    box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.5), 
    inset -2px -2px 5px rgba(255, 255, 255, 0.1);
    color: white;
}

.textinput {
    background: transparent;
    padding: 10px 0px 10px 15px;
    font-size: larger;
    border-radius: 15px;
    width: 100%;
    height: 2.5em;
    border: 5px solid var(--reg);
    box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.5), 
    inset -2px -2px 5px rgba(255, 255, 255, 0.1);
    color: white;
    margin-top: 1em;
}

.passwordinput {
    background: transparent;
    padding: 10px 0px 10px 15px;
    font-size: larger;
    border-radius: 15px;
    width: 100%;
    height: 2.5em;
    border: 5px solid var(--reg);
    box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.5), 
    inset -2px -2px 5px rgba(255, 255, 255, 0.1);
    color: white;
    margin-top: 1em;
}

.input-field {
    font-size: 1em;
}

.reg-header {
    color: white;
    background-color: #1768AC;
    margin-bottom: 1em;
    text-align: center;
    font-size: 2em;
    font-weight: 700;
    margin-left: 32%;
    width: 32%;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    padding-bottom: 10px;
}

.form-group {
    width: 100%;
    height: 100%;
    padding-bottom: 2em;
}

body {
    font: 'arial';
}

::placeholder {
    color: rgb(167, 167, 167);
    font-weight: 500;
}

.reg-header h1 {
    font-weight: 600;
}

.login {
    text-align: center;
    color: var(--reg);
    margin-bottom: 10px;
    font-weight: 500;
}

.submit-box button{
    margin-top: 2.5em;
    margin-bottom: 2.5em;
    font-size: 1em;
    font-weight: bold;
    background: var(--reg);
    color: white;
    border: 3px solid var(--reg);
    border-radius: 20px;
    padding: 10px;
    position: center;
    width: 100%;
    transition: all .15s ease-out;
}

.submit-box button:hover{
    color: white;
    background: var(--reg);
    box-shadow: inset 3px 3px 5px rgba(0, 0, 0, 0.5), 
    inset -3px -3px 5px rgba(255, 255, 255, 0.1);
    border: 3px solid var(--reg);
}

.textinput:focus, .textinput:valid {
    background: #1768AC;
}

.passwordinput:focus, .passwordinput:valid {
    background: #1768AC;
}

.input_box_email:focus, .input_box_email:valid {
    background: #1768AC;
}


.logo {
    margin-bottom: 1em;
}

#div_id_password1 {
    margin: 0;
    padding: 0;
    width: 100%;
}

#div_id_password2 {
    margin: 0;
    padding: 0;
    width: 100%;
}

#div_id_username {
    margin: 0;
    padding: 0;
    width: 100%;
}

div:has(> #div_id_password2) {
    height: max-content;
    padding: 0;
}

div:has(> #div_id_password1) {
    height: max-content;
    padding: 0;
}

div:has(> #div_id_username) {
    height: max-content;
    padding: 0;
}

label {
    display: none;
}

small {
    display: none;
}