table {
  border-collapse: collapse;
}

td {
  width: 25px;
  height: 25px;
  border: 1px solid #000;
}

h1 {
  color: green;
}

.seat-icon {
  width: 25px;
  height: 25px;
}

@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

* {
  box-sizing: border-box;
}

.container {
  display: flex;
  height: 100vh;
  height: auto;
  max-width: none;
  max-height: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  padding: 0px;
  background-color: #e6e4e4;
}

.content {

  display: flex;
  flex-direction: column;
  color: white;
  align-items: center;
  height: auto;
  max-height: none;
  font-family: 'Lato', 'sans-serif';
  overflow: hidden;
  margin-left: 30%;
  margin-right: 0;
  margin-top: 25px;
  height: 1200px;

}
.section_container {
  padding: 10px;
  border: 5px solid #03256C;
  border-radius: 8px;
}

.image {
  width: 200px;
  height: 200px;
}


.tickets-header{
  display: flex;
}

.event-details{
  display: flex;
}
 


.showcase {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 5px 10px;
  border-radius: 5px;
  color: #777;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  margin: 25px;
}

.showcase li {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
}

.showcase li small {
  margin-left: 10px;
}

.row {
  display: flex;
  flex-direction: row;
}

#gridContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  perspective: 1000px;
  margin-bottom: 30px;
  width: auto;
  height: auto;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 15px;
  border: 5px solid #03256C;
  border-radius: 8px;
}

.seatcontainer{
  font-family: 'Poppins', sans-serif;
  font-size: 24px;
  font-weight: bold; 
  color: #333; 
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3); 
}

.tickets-header img {
  max-width: 125px;
  display: block;
  width: 100%;
  height: 100%;
  padding: 10px;
}
.seat {
  background-color: #2355c1;
  height: 12px;
  width: 15px;
  margin: 3px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.seat.selected {
  
  background-color: #148e14;
}

.seat.occupied {
  background-color: #9c9c9e;
}

.seat:not(.occupied):hover {
  cursor: pointer;
  transform: scale(1.2);
}

.showcase .seat:not(.occupied):hover {
  cursor: default;
  transform: scale(1);
}

.grid-container-concert {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  margin-top: 20px;

}

#section1 {
  background-color: #03256C; 
  color: #fff
}
#section2 {
  background-color: #2541B2; 
  color: #fff
}
#section3 {
  background-color: #1768AC; 
  color: #fff
}
#section4 {
  background-color: #06BEE1; 
  color: #fff
}

.grid-container-concert .button {
  width: 100%;
  height: 50px;
  border: none;
  padding: 0;
  cursor: pointer;
  outline: none;
  border-radius: 2px;
  font-family: Arial, sans-serif;
  font-size: 12px; 
  font-weight: bold; 
  text-transform: uppercase; 
  letter-spacing: 1px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2); 
}


.grid-container-sports {
  position: relative;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto 1fr auto;
  gap: 10px;
  margin-top: 20px;
}

.grid-container-sports .top,
.grid-container-sports .bottom
{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.grid-container-sports .button {
  flex: 1;
  height: 50px;
  border: none;
  padding: 0;
  cursor: pointer;
  outline: none;
  border-radius: 2px;
  font-family: Arial, sans-serif;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  margin-left: 5px;
  margin-right: 5px;
}







.grid-container-concert img {
  display: block;
  width: 100%;
  height: 100%;
  padding: 10px;
}

.grid-container-sports img {
  display: block;
  width: 420px;
  height: 200px;
}

.hidden {
  display: none;
}
.card {
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 15px;
}

.card-title {
  font-size: 1.25rem;
  margin-bottom: 10px;
}

.card-text {
  margin-bottom: 5px;
}


.tickets-sidebar {
  background-color: #f2f2f2;
  color: #03256C;
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  width: 400px;
  margin: 25px;
  margin-top: 80px;
  height: 550px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.sidebar-header, .sidebar-footer {
  background-color: #ddd;
  padding: 10px;
  text-align: center;
  
}

.sidebar-content {
  padding: 10px;
  text-align: center;
  flex-grow: 1;
  overflow-y: auto; 
}

.sidebar-footer {
  margin-top: auto; 
  background-color: #ddd; 
  padding: 10px; 
  text-align: center; 
}

.subtotal {
  font-size: 18px;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

.btn.btn-primary {
  width: 80%;
  height: 75px;
  font-size:x-large;
}