table {
  border-collapse: collapse;
}
td {
  width: 25px;
  height: 25px;
  border: 1px solid #000;
}
h1{
  color: green;
}

.seat-icon{
  width:25px;
  height:25px;
}

@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

* {
box-sizing: border-box;
}

.container{
display: flex;
width: 100%;
height: auto;
max-width: none;
max-height: none;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
overflow: hidden;
border: 2px solid black;
}

.main {
position: relative;
background-color: #03256C;
display: flex;
flex-direction: column;
color: white;
align-items: center;
justify-content: space-between;
height: auto;
max-height: none;
font-family: 'Lato', 'sans-serif';
overflow: hidden;
margin-left: auto;
margin-right: auto;
width: 100%;
}


.image {
width: 200px;
height: 200px;
}


.section_container {
position: relative;
display: inline-block;
margin-top: 75px;
margin-bottom: 75px;
}


.showcase {
background-color: rgba(0, 0, 0, 0.1);
padding: 5px 10px;
border-radius: 5px;
color: #777;
list-style-type: none;
display: flex;
justify-content: space-between;
}

.showcase li {
display: flex;
align-items: center;
justify-content: center;
margin: 0 10px;
}

.showcase li small {
margin-left: 10px;
}

.row {
display: flex;
flex-direction: row;
}

#gridContainer {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
perspective: 1000px;
margin-bottom: 30px;
width: 70em;
border: 2px solid white;
}

.seat {
background-color: #444451;
height: 12px;
width: 15px;
margin: 3px;
border-top-left-radius: 10px;
border-top-right-radius: 10px;
}
.seat.selected {
background-color: #6feaf6;
}

.seat.occupied {
background-color: #fff;
}

.seat:not(.occupied):hover {
cursor: pointer;
transform: scale(1.2);
}

.showcase .seat:not(.occupied):hover {
cursor: default;
transform: scale(1);
}






.button {
position: absolute;
border: none;
padding: 0;
margin:0px;
cursor: pointer;
outline: none;
border-radius: 2px;
}
.top,.bottom {
width: 100%;
height: 50px;
left: 0;
}

.left,.right {
height: 100%;
width: 50px;
}

.top { top: -50px; }
.bottom { bottom: -50px; }
.left { left: -50px; }
.right { right: -50px; }

img {
display: block;
width: 100%;
height: 100%;
padding: 10px;
}

.hidden {
display: none;
}

.tickets-sidebar{
display: flex;
flex-direction: column;
position: relative;
background-color: #ffffff;
height: 100vh;
width: 500px;
top: 0;
bottom: 0;
right: 0;
}

.sidebar-header{
background-color: lightgray;
width: 100%;
text-align: center;
}
.sidebar-footer{
padding: 10px;
background-color: lightgray;
width: 100%;
text-align: center;
bottom: 0;
}

.btn.btn-primary{
width: 80%;
}