table {
    border-collapse: collapse;
}
td {
    width: 25px;
    height: 25px;
    border: 1px solid #000;
}
h1{
    color: green;
}

.seat-icon{
    width:25px;
    height:25px;
}

@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

* {
  box-sizing: border-box;
}

main {
  background-color: #242333;
  display: flex;
  flex-direction: column;
  color: white;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: 'Lato', 'sans-serif';
}

.movie-container {
  margin: 20px 0;
}

.movie-container select {
  background-color: #fff;
  border: 0;
  border-radius: 5px;
  font-size: 14px;
  margin-left: 10px;
  padding: 5px 15px 5px 15px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

.seatcontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  perspective: 1000px;
  margin-bottom: 30px;
  width: 70em;
}

.seat {
  background-color: #444451;
  height: 12px;
  width: 15px;
  margin: 3px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.seat.selected {
  background-color: #6feaf6;
}

.seat.occupied {
  background-color: #fff;
}

.seat:nth-of-type(2) {
  margin-right: 18px;
}

.seat:nth-last-of-type(2) {
  margin-left: 18px;
}

.seat:not(.occupied):hover {
  cursor: pointer;
  transform: scale(1.2);
}

.showcase .seat:not(.occupied):hover {
  cursor: default;
  transform: scale(1);
}

.showcase {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 5px 10px;
  border-radius: 5px;
  color: #777;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

.showcase li {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
}

.showcase li small {
  margin-left: 10px;
}

.row {
  display: flex;
  flex-direction: row;
}






.section_container {
  position: relative;
  display: inline-block;
}



.button {
  position: absolute;
  border: none;
  padding: 0;
  margin:0px;
  cursor: pointer;
  outline: none;
}
.top,.bottom {
  width: 100%;
  height: 50px;
  left: 0;
}

.left,.right {
  height: 100%;
  width: 50px;
}

.top { top: -50px; }
.bottom { bottom: -50px; }
.left { left: -50px; }
.right { right: -50px; }

img {
  display: block;
  width: 100%;
  height: 100%;
  padding: 10px;
}




.hidden {
  display: none;
}