{% load static %}
{% block title %}
    <title>Tixx - Forgot Password</title>
{% endblock %}



  
  {% block content %}
  <link rel="stylesheet" href="{% static 'css/forgot_password.css' %}">
  <div class="background-image"></div>
  <div class="form-container">
      <div class="logo-container">
        Forgot Password
      </div>
        <form class="form" method="post">
          {% csrf_token %}
          <div class="form-group">
            {{ form.as_p }}
            <button class="form-submit-btn" type="submit">Submit</button>
          </div>

        </form>
        <p class="signup-link">
          Don't have an account?
          <a href="{% url 'register' %}" class="signup-link link"> Sign up now</a>
        </p>
  
    </div>
    {% endblock %}